table {
    font-size: 0.8em;
    color: white;
    width: 60%;
    text-align: right;
    margin-bottom: 1em;
}

th, td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
}

.quantity {
    width: 3em;
}
